/META-INF/
/README
/books_numeric_ids.csv
/cities-Intersects-BBox.txt
/conf/
/data/
/exampledocs/
/lib-dirs/
/log4j.properties
/mailing_lists.pdf
/old-solr-example/
/org/
/README.txt
/analysis-extras/
/assembly/
/clustering/
/dih/
/dihextras/
/extraction/
/langid/
/solr/
/solrj/
/test-documents/
/test-morphlines/
/custom-mimetypes.xml
/morphlines-core.marker
/uima/
/velocity/
