/META-INF/
/conf/
/org/
/cities-Intersects-BBox.txt
/data/
/simple-Queries-BBox.txt
/solr/
/spellings.txt
/states-Intersects-BBox.txt
/states-IsWithin-BBox.txt
/README
/analysis-extras/
/books_numeric_ids.csv
/clustering/
/dih/
/dihextras/
/exampledocs/
/extraction/
/lib-dirs/
/log4j.properties
/mailing_lists.pdf
/old-solr-example/
/solrj/
/README.txt
/assembly/
/langid/
/test-documents/
/test-morphlines/
/custom-mimetypes.xml
/morphlines-core.marker
/uima/
/velocity/
